modules = ["python-3.12", "vue-node-20", "nodejs-20", "bash"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[userenv]

[userenv.shared]
IMAGEMAGICK_BINARY = "/nix/store/sr7rxizbs3cgq0bm0nqn2mb0dlq5n20y-replit-runtime-path/bin/convert"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Backend && python main.py"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd UI && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
